.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  color: #009688;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
.typed-fade-out{
  opacity: 0;
  animation: 0;
  transition: opacity .25s;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

h1, h2, h3, p, a {
  font-family: "Helvetica Neue", sans-serif !important;
}

.ui.top.fixed.menu {
  height: 58px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: none;
  .brand.item {
    padding-left: 0;
    .nav-logo {
      width: 100px;
    }
  }
  .nav-logo {
    height: 50px;
  }
}

.top-content {
  padding-top: 58px;
  background: #fafafa;
  border-bottom: 1px solid #e0e0e0;
  .pg-canvas {
    display: block;
    position: absolute;
    z-index: 1;
    margin-top: -60px;
  }
  .top-content-grid {
    z-index: 3;
    position: relative;
    h1.title {
      font-size: 38px;
      font-weight: normal;
      letter-spacing: -1px;
      color: #263238;
    }
    .intro-column {
      display: table;
      .intro-column-wrapper {
        display: table-cell;
        vertical-align: middle;
        height: 300px;
      }
    }
    .chart-wrapper {
      #myChart {
      }
    }
  }
}

.analytics-content {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background-color: #FAFAFA;
  padding: 10px 0;
}

.now-content {
  .api-intro{
    background: #E0F2F1;
    margin-top: -20px;
    margin-bottom: 20px;
    padding: 30px;
    font-weight: bold;
    color: #009688;
    text-align: center;
  }
  padding-top: 20px;
  padding-bottom: 20px;
  .now-content-grid {
    .rank-list-wrapper {
      border: 1px solid #e0e0e0;
      border-radius: 4px;
      padding: 10px;
      .logo {
        display: block;
        height: 20px;
        margin: auto;
      }
      .list-title {
        margin-top: 10px;
        text-align: center;
      }
      .rank-list {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0 !important;
        li {
          article.rank-item {
            border-top: 1px solid #e0e0e0;
            padding-top: 10px;
            padding-bottom: 10px;
            cursor: pointer;
            &:hover {
              background-color: #fafafa;
            }
            .rank {
              vertical-align: bottom;
              margin-right: 5px;
              .ui.circular.label {
                //border:2px solid #e0e0e0;
                background-color: #ECEFF1 !important;
              }
            }
            .title {
              color: #263238 !important;
              vertical-align: bottom;
              font-size: 12px;
              font-weight: bold;
              span {
                margin-top: 3px;
                max-width: 40%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                position: absolute;
              }
            }
            .status {
              vertical-align: bottom;
              float: right;
            }
          }
        }
      }
    }
  }

}