#keyword-app {
  .keyword-section {
    &.intro {
      border-bottom: 1px solid #e0e0e0;
      background-color: #ECEFF1;
      .thumb {
        width: 100%;
        height: 40vh;
        background-size: cover;
        background-position: center;
        .thumb-content{
          width: 100%;
          padding-top: 58px;
          height: 100%;
          background-color: rgba(0,0,0,0.5);
          display: table;
          .thumb-content-wrapper{
            display: table-cell;
            width: 100%;
            height: 100%;
            vertical-align: middle;
            text-align: center;
            color: white;
            .keyword{
              letter-spacing: 4px;
              font-weight: 100;
            }
          }
        }
      }
      .content {
        width: 100%;
        padding: 10px;
        font-weight: bold;
      }
    }
    &.news{
      .news-list{
        list-style-type: none;
        padding-left: 0;
        li{
          .thumb{
            background-image: url("https://getuikit.com/v2/docs/images/placeholder_600x400.svg");
            background-size: cover;
            background-position: center;
            width: 320px;
            height: 180px;
            border: 1px solid #e0e0e0;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            margin-bottom: 10px;
          }
          .content{
            display: inline-block;
            vertical-align: middle;
            width : calc(100% - 333px);
            .title{
              font-family: "Helvetica Neue", sans-serif !important;
              font-size: 18px;
              font-weight: normal;
              color: #4b4b4b;
              text-transform: uppercase;
              letter-spacing: 3px;
              margin-bottom: 10px;
            }
            .description{
              color: #9E9E9E;
              letter-spacing: 1px;
            }
            .extra-content{
              color: #9E9E9E;
              font-family: "Helvetica Neue", sans-serif !important;
              font-size: 12px;
              font-weight: 100;
              .item{
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}