
.ui.top.fixed.menu {
  height: 58px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: none;
  .right.item {
    padding: 0;
    & .item {
      height: 100%;
    }
  }
  .brand.item {
    .nav-logo {
      width: 100px;
    }
  }
  .search.item {
    padding: 0;
    /* border-right: 1px solid #e0e0e0; */
    width: 25%;
    .ui.input {
      height: 100%;
      input {
        background-color: transparent;
        height: 100%;
        border: 0;
        border-radius: 0;
        border-right: 1px solid #e0e0e0;
      }
    }
  }
  .nav-logo {
    height: 50px;
  }
}